---
import BaseHead from '../components/BaseHead.astro';
import { Header, Footer, Intro, Skills, Portfolio } from '../components';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header client:load />

    <main class="pt-16 min-h-screen">
      <Intro />
      <Skills />
      <Portfolio />
    </main>

    <Footer />
  </body>
</html>
