---
/* Components */
import BaseHead from '../components/BaseHead.astro';
import { Header, Footer } from '../components';

const {
  content: { title, description, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <main>
      <!-- slot is our markdown content -->
      <slot />
    </main>

    <Footer />
  </body>
</html>
